---
# enable liquid
---

body { font-family: Helvetica,Arial,sans-serif; background-color: #f8f9fa }
.navbar-brand img { margin: -0.35rem 0 0 0; }
.navbar-brand { font-size: 13.8px; letter-spacing: 0.1rem; color: #777 !important; }
.navbar .nav-link { padding: 0 1em; }
a:focus, a:hover, a:active { outline:none }
h1, h2, h3, h4, h5, h6 { font-weight: 600; letter-spacing: 0.025rem; }
.jumbotron { background-color: rgb(0, 211, 183); margin-bottom: 0 }
.jumbotron .text-muted { color: ivory !important; }
.jumbotron a { color: ivory; }
pre { background-color:  white; margin-bottom: 1rem !important; }
.side-panel a { padding-left: 0; }
.side-panel h5 { margin: 1rem 0 1rem 0; }
.side-panel h5 a { color: #000; }
.api-content img { width: 90%; margin: 1rem 5%; }
.language-javascript .err { background-color: transparent; }
