---
# enable liquid
---

body { font-family: Helvetica,Arial,sans-serif; }
.container { width: 800px; }
.navbar img { margin-top: -0.4rem; }
a:focus, a:hover, a:active { outline:none }
h1, h2, h3, h4, h5, h6 { font-weight: 700; letter-spacing: 0.025rem; }
.jumbotron { background-color: rgb(0, 211, 183); margin-bottom: 0 }
.jumbotron .text-muted { color: ivory !important; }
pre { background-color:  white; margin-bottom: 1rem !important; }
