<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <section class="jumbotron jumbotron-fluid">
      <div class="container">
        {% include oasis/nav.html %}
      </div>
    </section>
    <section class="pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 side-panel">
            {% assign baseUrl = "oasis/api/" | append: page.apiVersion %}
            <h5>
              <a href={{ baseUrl | relative_url }}>API v{{ page.apiVersion }}</a>
            </h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href={{ baseUrl | append: "/markets" | relative_url }}>Markets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{ baseUrl | append: "/prices" | relative_url }}>Prices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{ baseUrl | append: "/volumes" | relative_url }}>Volumes</a>
              </li>
              {% if page.apiVersion >= 2 %}
                <li class="nav-item">
                  <a class="nav-link" href={{ baseUrl | append: "/orders" | relative_url }}>Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={{ baseUrl | append: "/trades" | relative_url }}>Trades</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={{ baseUrl | append: "/pairs" | relative_url }}>Pairs</a>
                </li>
              {% endif %}
            </ul>
          </div>
          <div class="col-sm-9 api-content">
            {% if page.apiVersion == 1 %}
            <div class="alert alert-danger text-center mb-4" role="alert">
              <h4 class="alert-heading">WARNING Oasis API v1 will be DEPRECATED</h4>
              <p class="lead">Please start using <a class="alert-link" href="oasis/api/2/">API v2</a></p>
            </div>
            {% endif %}
            {{ content }}
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>
