<nav class="navbar navbar-light bg-light navbar-expand-lg">
  <a class="navbar-brand" href={{ "/" | relative_url }}>
    <img src={{ "images/maker.svg" | relative_url }} height=25 class="mr-5">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown mr-2">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dai 1.0 docs
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
        <a class="dropdown-item" href={{ "dai/1/" | relative_url }}>Introduction</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href={{ "dai/1/cli/" | relative_url }}>Dai CLI</a>
        <a class="dropdown-item" href={{ "dai/1/go/" | relative_url }}>Dai Golang</a>
        <a class="dropdown-item" href={{ "dai/1/python/" | relative_url }}>Dai Python</a>
      </div>
    </li>
    <li class="nav-item dropdown mr-2">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dai use cases
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
        <a class="dropdown-item" href={{ "dai/1/borrowing/" | relative_url }}>Borrowing</a>
        <a class="dropdown-item" href={{ "dai/1/leverage/" | relative_url }}>Leverage</a>
        <a class="dropdown-item" href={{ "dai/1/arbitrage/" | relative_url }}>Arbitrage</a>
        <a class="dropdown-item" href={{ "dai/1/stability/" | relative_url }}>Stability</a>
      </div>
    </li>
    <li class="nav-item dropdown mr-2">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-random"></i>
        OasisDEX
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
        <a class="dropdown-item" href={{ "oasis/" | relative_url }}>Overview</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href={{ "oasis/" | relative_url }}>Oasis Direct</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href={{ "oasis/cli" | relative_url }}>Oasis CLI</a>
        <a class="dropdown-item" href={{ "oasis/go" | relative_url }}>Oasis Golang</a>
        <a class="dropdown-item" href={{ "oasis/python" | relative_url }}>Oasis Python</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link mr-2" href={{ "keepers/" | relative_url }}>
        <i class="fa fa-eye"></i>
        Keepers
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={{ "feeds/"| relative_url }}>
        <i class="fa fa-bullhorn"></i>
        Feeds
      </a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li>
      <a class="nav-link" href=https://chat.makerdao.com/>
        <i class="fa fa-rocket"></i>
        Chat
      </a>
    </li>
    <li>
      <a class="nav-link" href=https://makerdao.com/>
        <i class="fa fa-globe"></i>
        MakerDAO.com
      </a>
    </li>
  </ul>
  </div>
</nav>
