<nav class="navbar navbar-light bg-light navbar-expand-lg">
  <a class="navbar-brand" href={{ "/" | relative_url }}>
    <img src={{ "images/maker.svg" | relative_url }} height=26>
    DEVELOPER
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown mr-2">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dai 1.0
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
        <a class="dropdown-item" href={{ "dai/1/" | relative_url }}>Introduction</a>
        <a class="dropdown-item" href={{ "dai/1/stability" | relative_url }}>Stability</a>
        <div class="dropdown-divider"></div>
        <!--
        <a class="dropdown-item" href={{ "dai/1/usage-disabled" | relative_url }}>Use cases</a>
        -->
        <a class="dropdown-item" href={{ "dai/1/api" | relative_url }}>Core API</a>
        <a class="dropdown-item" href={{ "dai/1/cli" | relative_url }}>Dai CLI</a>
      </div>
    </li>
    <li class="nav-item dropdown mr-2">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        OasisDex
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
        <a class="dropdown-item" href={{ "oasis/" | relative_url }}>Overview</a>
        <a class="dropdown-item" href={{ "oasis/contracts/" | relative_url }}>Contracts</a>
        <a class="dropdown-item" href={{ "oasis/api/1" | relative_url }}>REST API</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link mr-2" href={{ "keepers/" | relative_url }}>
        Keepers
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={{ "feeds/"| relative_url }}>
        Feeds
      </a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li>
      <a class="nav-link" href=https://chat.makerdao.com/>
        Chat
      </a>
    </li>
    <li>
      <a class="nav-link" href=https://makerdao.com/>
        MakerDAO.com
      </a>
    </li>
  </ul>
  </div>
</nav>
