<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="dai-{{ include.id }}-tab" data-toggle="tab" href="#dai-{{ include.id }}" role="tab" aria-controls="dai={{ include.id }}" aria-selected="false">Dai CLI</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="seth-{{ include.id }}-tab" data-toggle="tab" href="#seth-{{ include.id }}" role="tab" aria-controls="seth={{ include.id }}" aria-selected="true">Seth</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="dai-{{ include.id }}" role="tabpanel" aria-labelledby="dai-{{ include.id }}-tab">
    {% highlight bash %}
      {{ include.dai }}
    {% endhighlight %}
  </div>
  <div class="tab-pane fade" id="seth-{{ include.id }}" role="tabpanel" aria-labelledby="seth-{{ include.id }}-tab">
    {% highlight bash %}
      {{ include.seth }}
    {% endhighlight %}
  </div>
</div>
