<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <section class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1>Tap into <small class="text-muted">decentralized finance</small></h1>
        <p class="lead">
        Developer documentation for the
        <a href={{ "dai/1/" | relative_url }}>Maker System</a>.
        </p>
      </div>
    </section>
    <section class="bg-light pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col">
            {{ content }}
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>
