<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <section class="jumbotron jumbotron-fluid">
      <div class="container">
        {% include dai/nav.html %}
      </div>
    </section>
    <section class="pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 side-panel">
            <h5>Dai 1.0 beta</h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href={{ "dai/1/api/" | relative_url }}>Overview</a>
              </li>
            </ul>
            <h5>
              <a href={{ "dai/1/api/pool" | relative_url }}>Collateral Pool</a>
            </h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href={{ "dai/1/api/join" | relative_url }}>Join</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{ "dai/1/api/exit" | relative_url }}>Exit</a>
              </li>
            </ul>
            <h5>
              <a href={{ "dai/1/api/tub" | relative_url }}>CDPs</a>
            </h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href={{ "dai/1/api/open" | relative_url }}>Open</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{ "dai/1/api/give" | relative_url }}>Give</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{ "dai/1/api/lock" | relative_url }}>Lock</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{ "dai/1/api/free" | relative_url }}>Free</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{ "dai/1/api/draw" | relative_url }}>Draw</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{ "dai/1/api/wipe" | relative_url }}>Wipe</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{ "dai/1/api/shut" | relative_url }}>Shut</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{ "dai/1/api/bite" | relative_url }}>Bite</a>
              </li>
            </ul>
            <h5>
              <a href={{ "dai/1/api/tap" | relative_url }}>Debt Market</a>
            </h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href={{ "dai/1/api/boom" | relative_url }}>Boom</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{ "dai/1/api/bust" | relative_url }}>Bust</a>
              </li>
            </ul>
            <h5>
              <a href={{ "dai/1/api/top" | relative_url }}>Global Settlement</a>
            </h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href={{ "dai/1/api/cage" | relative_url }}>Cage</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{ "dai/1/api/cash" | relative_url }}>Cash</a>
              </li>
            </ul>
            <h5>
              <a href={{ "dai/1/api/vox" | relative_url }}>Vox</a>
            </h5>
          </div>
          <div class="col-sm-9 api-content">
            {{ content }}
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>
